generator:
  class: sfDoctrineGenerator
  param:
    model_class:           tdImageAlbum
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          td_image_album
    with_doctrine_route:   true
    actions_base_class:    sfActions
    css:                   nothing
    i18n_catalogue:        sf_admin

    config:
      actions: ~
      fields:
        td_watermark_id:
          label: Watermark
        name:
          label: Nazwa
        description:
          label: Opis
        active:
          label: Aktywna
# embedded forms and relations
        Images:
          label: Zdjęcia
          help: Aby zmienić zdjęcie należy je najpierw USUNĄĆ a następnie DODAĆ na nowo (nie pzesyłać nowego pliku dla już istniejącego zdjęcia)
        new:
          label: Nowe zdjęcia
      list:
        title: List of galleries
        batch_actions:
          _delete: ~
          activate: ~
          deactivate: ~
        object_actions:
          _edit: ~
          _delete: ~
          activate: ~
          deactivate: ~
        layout: stacked
        params: |
          <strong>Nazwa</strong>: <i>%%name%%</i> %%active%%
          <br />
          <strong>Opis</strong>: <div class="text_box">%%description_short%%</div>
          <br />
          <strong>Utworzono</strong>: <i>%%created_at%%</i>
          <br />
          <strong>Zmieniono</strong>: <i>%%updated_at%%</i>
      filter:  ~
      form:
        fields:
          name:
            attributes: { size: 80 }
          description:
            attributes: { cols: 80, rows: 10 }
      edit:
        title: Edit gallery
        display: [ name, description, active, td_watermark_id, Images, new ]
      new:
        title: New gallery
