options:
  charset: utf8
  collate: utf8_general_ci

tdImage:
  actAs:
    Timestampable: ~
  columns:
    td_image_album_id:
      type: integer
      notnull: true
    file:
      type: string(255)
      notnull: true
    name:
      type: string(64)
      notnull: true
    description:
      type: clob
  relations:
    Album:
      class: tdImageAlbum
      local: td_image_album_id
      foreign: id
      foreignAlias: Images

tdImageAlbum:
  actAs:
    Timestampable: ~
  columns:
    td_watermark_id:
      type: integer
      notnull: true
    name:
      type: string(255)
      notnull: true
    description:
      type: string
      notnull: true
  relations:
    Watermark:
      class: tdWatermark
      local: td_watermark_id
      foreign: id
      foreignAlias: Albums

tdWatermark:
  actAs:
    Timestampable: ~
  columns:
    file:
      type: string(255)
      notnull: true
    name:
      type: string(64)
      notnull: true
    description:
      type: clob
